footer {
  grid-area: footer;
}

.social-media-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.social-media-list li {
  padding: 10px 20px;
}

.social img {
  height: 50px;
  width: 50px;
}

.social img:hover {
  opacity: 0.6;
}
